ARCH?=i686
HOST?=$(ARCH)
CROSS-COMPILE=$(ARCH)-elf-
CC=$(CROSS-COMPILE)gcc

CFLAGS?=-O2
LDFLAGS?=
LIBS?=

ARCHDIR?=$(KERNELDIR)/arch/$(HOST)
DESTDIR?=$(KERNELDIR)/iso/boot
INITTDIR?=$(KERNELDIR)/init
INCLUDEDIR?=$(KERNELDIR)/include
SRCDIR?=$(KERNELDIR)/kernel

include $(ARCHDIR)/Kconfig
include $(INITTDIR)/Kconfig
include $(SRCDIR)/Kconfig

#CFLAGS:=-I $(INCLUDEDIR)

CFLAGS:=$(CFLAGS) -ffreestanding -fbuiltin -Wall -Wextra -isystem $(INCLUDEDIR) 
LDFLAGS:=$(LDFLAGS)
LIBS:=$(LIBS) -nostdlib -lgcc -lk
